.App {
  text-align: center;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  font-weight: 500;
  /* color: white; */
}

.navbar {
  font-weight: 350;
  background-color: black ;
  position: sticky;
}

.white {
  color: rgb(126, 123, 123);
}

body {
  /* background-image: url("bgpic.jpg");
  background-position: static;
  background-repeat: no-repeat;
  width: 75%;
  height: 10rem ; */
  /* background-size: cover; */
  /* opacity: 50%;
  margin: 0; */
  /* background-color: rgb(44, 44, 44); */
}

.body {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: gray 1px 5px 10px;
}

body,
*/ .space {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* #space {
  left: 0;
  top: 0;
  zoom: 1;
}

#space span {
  position: absolute;
} */

.greet {
  margin-top: 15rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10rem;
}

.typewrite {
  font-size: 2rem;
  font-weight: 300;
}

#quote {
  font-family: sans-serif;
  font-size: 2rem !important;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin: 2rem;
  text-align: center;
}

#about {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-shadow: gray 1px 5px 10px;
}

.about {
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

#tools {
  padding-right: 2rem;
  text-decoration: none;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 1rem;
}

.tool {
  list-style-type: none;
}

#projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}